@keyframes heart-pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes heart-sparkle {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.like-icon.is-liked .like-icon__heart {
  animation: heart-pulse 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: heart-sparkle 0.3s ease-in 0.3s forwards;
}
