@keyframes like-scale {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes like-sparks {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.like-icon.is-liked .like-icon__heart {
  animation: like-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: like-sparks 0.3s ease-in 0.3s forwards;
}
