.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-family), sans-serif;
  font-variation-settings: "wght" var(--main-text-wght);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.header {
  inline-size: var(--container-width);
  block-size: var(--container-height);
  padding: var(--padding-y) var(--padding-x);
  background-color: #fff;
  margin: 100px var(--margin-x);
  border: 2px solid #000;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 23px;
}

.header__logo {
  font-size: var(--logo-size);
  text-transform: uppercase;
  white-space: nowrap;
}

.header__title {
  font-size: var(--title-size);
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  inline-size: var(--container-width);
  margin-block-end: 50px;
}

.card {
  background-color: #fff;
  border: 2px solid #000;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
}

.card__title {
  font-family: var(--second-family);
  font-size: 18px;
  font-variation-settings: "wght" var(--title-text-wght);
  padding: 4px 10px;
}

.card__image-content {
  position: relative;
  justify-self: center;
  inline-size: 100%;
  aspect-ratio: 1/1;
  border-block-start: 2px solid var(--accent-color);
  border-block-end: 2px solid var(--accent-color);
  overflow: hidden;
}

.card__image {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.card__text {
  font-family: var(--second-family);
  font-size: 18px;
  font-variation-settings: "wght" var(--main-text-wght);
  line-height: 117%;
}

.card__label {
  position: absolute;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  color: rgba(0 0 0/ 0.5);
  font-size: 14px;
  font-weight: 400;
  mix-blend-mode: hard-light;
  text-shadow: -1px -1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color), 1px 1px 0 var(--stroke-color),
    0 0 2px var(--stroke-color);
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.card__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.filter_sepia {
  filter: sepia(80%);
}

.filter_saturate {
  filter: saturate(180%);
}

.filter_contrast {
  filter: contrast(200%);
}

.filter_invert {
  filter: invert(0.8);
}

.filter_grayscale {
  filter: grayscale(0.9);
}

.filter_blur {
  filter: blur(0.5rem);
}

.special_filter {
  filter: blur(0.3rem) invert(0.6);
}

.card__like-button:focus,
.footer__button:focus {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__icon-button {
  background: none;
  transition: border 0.3s ease;
  border: 2px solid transparent;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  background: transparent;
  padding: 12.5px 37px;
  inline-size: 130px;
  block-size: 38px;
  padding: 9px 17px;
}

.footer__button {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  padding: 15px 20px;
  transition: box-shadow 0.3s ease;
  position: relative;
  background: var(--text-color);
  font-size: 14px;
  line-height: 90%;
}

.card__like-button::before,
.footer__button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--accent-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before,
.footer__button:hover::before {
  transform: scaleX(1);
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--text-color);
  mix-blend-mode: difference;
}

.floppy-icon {
  color: var(--text-color);
  mix-blend-mode: difference;
  inline-size: 21px;
  block-size: 21px;
  flex-shrink: 0;
}

.footer {
  margin-block-end: 100px;
}

.footer__dialog[open] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 30px;
  max-inline-size: 353px;
}

.footer__dialog[open] .floppy-icon {
  inline-size: 39px;
  block-size: 39px;
}

.footer__dialog[open]::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.footer__dialog-text {
  display: flex;
  flex-direction: row;
  justify-self: start;
  gap: 20px;
}

.footer__button-text {
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  font-weight: 400;
}

.footer__button {
  border: 2px solid var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
}

svg .sparks {
  transition: opacity 0.3s ease;
  opacity: 0;
}

svg .contour {
  transition: fill 0.1s linear;
}

svg .main-body {
  transition: fill 0.3s linear;
}

svg .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon {
  transform-origin: center;
  overflow: visible;
}

.like-icon__heart {
  transform-origin: center;
}

.like-icon:hover .core {
  fill: var(--accent-color);
  transition-delay: 0s;
}

.like-icon:hover .main-body {
  fill: var(--accent-color);
  transition-delay: 0.05s;
}

.like-icon:active .core {
  fill: var(--main-body-color);
  transition-delay: 0s;
}

.like-icon:active .main-body {
  fill: var(--main-body-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--main-body-color);
  transition-delay: 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--main-body-color);
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--main-body-color);
  transition-duration: 0.3s;
  transition-delay: 0.06s;
}

@media (width <= 375px) {
  .footer__button {
    justify-content: center;
    flex-direction: column;
  }
  .floppy-icon {
    inline-size: 28px;
    block-size: 28px;
  }
}
